* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

/*fuentes*/
h1 {
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 32px;
    color: #FCB900;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-family: Verdana;
    color: #FFF973;
}

h3 {
    font-family: Verdana;
    color: black;
    font-weight: bold;
}

h4 {
    font-size: 25px;
    color: white;
    padding: 15px;
    font-family: 'Dela Gothic One', cursive;
}

h5 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    background-color: #FFF973;
    padding: 15px;
    font-weight: bold;
    color: black;
}

p {
    font-family: verdana;
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    border: none;
    border-top: 3px solid #FCB900;
    margin: 10px;
}

/*barra de navegación*/
.navbar-brand {
    font-size: 22px;
    font-family: verdana;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.navbar-brand img {
    width: 120px;
}

.navbar-brand .logo {
    cursor: pointer;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item:hover {
    color: #FCB900;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/*inicio*/

.contenedor {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

.img-principal {
    float: right ;
    margin-left: 300px;
}

.texto-principal {
    position: absolute;
    float: left ;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-108%, -50%);
}


.submit {
    background-color: #FCB900;
    color: black;
    font-weight: bold;
    border: 0;
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    width: 250px;
    margin-top: 25px;
    box-shadow: 0 0 20px black;
}

.submit:hover {
    background-color: white;
    color: black;
}

/*sobre mí*/
.contenedor-sobremi {
    width: 100%;
    overflow: hidden;
}

.img-sobremi {
    width: 35%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 30px;
    float: right;
    margin-right: 10px;
}

.texto-sobremi {
    text-align: left;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100%;
    margin-bottom: 40px;
}

.texto-sobremi span {
    color: #FCB900;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*mi caso*/
.container-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    margin-left: 120px;
}

.borde-colorido {
    border: 6px solid #FFF973;
    margin-bottom: 20px;
}

.recuadro {
    border: 6px solid #FCB900;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 120px;
    margin-right: 120px;
    padding: 10px;
}

/*galeria de imagenes*/
/*resultados*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*experiencias*/
.grid-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*mas imagenes*/
.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*términos y condiciones*/
.terminosycondiciones span {
    color: #FFF973;
    text-decoration: underline;
}

/*agendar videollamada*/
.container {
    display: flex;
    background-image: linear-gradient(to right, #FCB900, #fff973);
    height: 500px;
    width: 1000px;
    box-shadow: 0 0 20px black 0.4;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
}

.container p {
    color: black;
}

.imagen {
    float: right; 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10%;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* boton subir */
.subir {
    height: 40px;
    width: 40px;
    background-color: #FCB900;
    color: white;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 0 5px white;
}

img {
    max-width: 100%;
}

/*footer*/
footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-family: verdana;
}

@media only screen and (max-width: 480px) {
    .footer {
        font-size: 10px;
    }
}

.redes {
    color: #FCB900;
    font-size: 30px;
    letter-spacing: 10px;
}

@media only screen and (max-width: 480px) {
    .redes {
        font-size: 20px;
        letter-spacing: 5px;
    }
}

.insta-link,
.twitter-link,
.youtube-link {
    color: #FCB900;
    text-decoration: none;
}

.youtube-link:hover {
    color: white;
}

.insta-link:hover {
    color: white;
}

.twitter-link:hover {
    color: white;
}