* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

/*fuentes*/

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    background-color: #FCB900;
    padding: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Verdana;
    color: #FFF973;
}

p {
    font-family: verdana;
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

hr {
    border: none;
    border-top: 3px solid #FCB900;
    margin: 10px;
}



/*barra de navegación*/
.navbar-brand {
    font-size: 22px;
    font-family: verdana;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.navbar-brand img {
    width: 120px;
}

.navbar-brand .logo {
    cursor: pointer;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item:hover {
    color: #FCB900;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/*fin barra de navegación*/

/*sobre mí*/
.contenedor-sobremi {
    width: 100%;
    overflow: hidden;
}

.img-sobremi {
    width: 35%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
    margin-right: 10px;
}

.texto-sobremi {
    text-align: left;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100%;
    margin-bottom: 40px;
}

.texto-sobremi span {
    color: #FCB900;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*@media only screen and (max-width: 480px) {
    h2 {
        font-size: 20px;
        margin-left: 6px;
        margin-right: 6px;
    }

    p {
        font-size: 12px;
    }

    .contenedor-biografía {
        flex-direction: column;
    }

    .img-biografía1{
        float: center;
        margin-left: 50px;
        margin-right: 50px;
        width: 80%;
        height: 80%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 686px) {*/

/*mi caso*/
.container-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    margin-left: 100px; 
}

.img1 {
    border: 6px solid #FFF973;
}

.recuadro {
    border: 6px solid #FCB900;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

/*términos y condiciones*/
.terminosycondiciones span{
    color: #FFF973;
    text-decoration: underline;
}

/* boton subir */
.subir {
    height: 40px;
    width: 40px;
    background-color: #FCB900;
    color: white;
    position: fixed;
    right: 40px;
    bottom: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0 0 5px white;
}

img {
    max-width: 100%;
}

/*footer*/
footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-family: verdana;
}

@media only screen and (max-width: 480px) {
    .footer {
        font-size: 10px;
    }
}

.redes {
    color: #FCB900;
    font-size: 30px;
    letter-spacing: 10px;
}

@media only screen and (max-width: 480px) {
    .redes {
        font-size: 20px;
        letter-spacing: 5px;
    }
}

.insta-link,
.twitter-link,
.youtube-link {
    color: #FCB900;
    text-decoration: none;
}

.youtube-link:hover {
    color: white;
}

.insta-link:hover {
    color: white;
}

.twitter-link:hover {
    color: white;
}